/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ClassCode]
      ,[Type]
      ,[PartNo]
      ,[CEMark]
      ,[SNPrefix]
      ,[RefurbSuffix]
      ,[PrnWorkOrder]
      ,[PrnLabel]
      ,[ProductType]
      ,[Comments]
      ,[CEMarkIdentifier]
  FROM [FST_DEVUTST].[dbo].[PrintConfig]