/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Type]
      ,[Legacy]
      ,[EAN]
      ,[FileName]
      ,[AKA]
      ,[CE]
      ,[CEMarkIdentifier]
      ,[Mode]
  FROM [FST_DEVUTST].[dbo].[LabelTypeDef]